<a href="https://colab.research.google.com/github/aswin24012004/Data-Projects/blob/main/Foodpanda_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# ‚öôÔ∏è 1. Setup PySpark Session

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Foodpanda Analysis").getOrCreate()

In [12]:
# üì• 2. Load the Dataset

df = spark.read.csv('/content/Foodpanda Analysis Dataset.csv',header=True, inferSchema=True)
df.printSchema()
df.show()

root
 |-- customer_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)
 |-- signup_date: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- restaurant_name: string (nullable = true)
 |-- dish_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- order_frequency: integer (nullable = true)
 |-- last_order_date: string (nullable = true)
 |-- loyalty_points: integer (nullable = true)
 |-- churned: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- rating_date: string (nullable = true)
 |-- delivery_status: string (nullable = true)

+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|customer_id|gender|     age|     city|signup_date|order_id|order_date|restaurant_name|dish_name|   category|quantity|  price|payment_method|order_frequency|last_order_date|loyalty_points| churned|rating|rating_date|delivery_status|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|      C5663|  Male|   Adult| Peshawar|  1/14/2024|   O9663| 8/23/2023|     McDonald's|   Burger|    Italian|       5|1478.27|          Cash|             38|      7/19/2025|           238|  Active|     3| 10/14/2024|      Cancelled|
|      C2831|  Male|   Adult|   Multan|   7/7/2024|   O6831| 8/23/2023|            KFC|   Burger|    Italian|       3| 956.04|        Wallet|             24|     11/25/2024|            81|  Active|     2|  8/21/2025|        Delayed|
|      C2851| Other|  Senior|   Multan|  6/20/2025|   O6851| 8/23/2023|      Pizza Hut|    Fries|    Italian|       2| 882.51|          Cash|             42|      5/10/2025|            82|Inactive|     3|  9/19/2024|        Delayed|
|      C1694|Female|  Senior| Peshawar|   9/5/2023|   O5694| 8/23/2023|         Subway|    Pizza|    Dessert|       4|  231.3|          Card|             27|      7/24/2025|            45|Inactive|     2|  6/29/2025|        Delayed|
|      C4339| Other|  Senior|   Lahore| 12/29/2023|   O8339| 8/24/2023|            KFC| Sandwich|    Dessert|       1|1156.69|          Cash|             35|     12/21/2024|           418|Inactive|     3|   3/6/2025|      Cancelled|
|      C6543| Other|   Adult|  Karachi|  9/28/2023|  O10543| 8/24/2023|    Burger King|    Pizza|  Fast Food|       5|1213.62|          Cash|             45|     10/10/2024|           418|Inactive|     4|   6/1/2025|      Delivered|
|      C6423|  Male|   Adult|   Lahore|   4/8/2025|  O10423| 8/24/2023|     McDonald's|    Pasta|Continental|       5| 672.91|        Wallet|             31|      5/25/2025|           347|  Active|     1|   3/4/2025|      Cancelled|
|      C4621|  Male|   Adult| Peshawar|   2/5/2024|   O8621| 8/24/2023|      Pizza Hut|    Pizza|    Chinese|       2| 271.74|          Cash|             14|       5/1/2025|           429|  Active|     2|  9/30/2024|      Delivered|
|      C5146| Other|  Senior|  Karachi| 12/17/2024|   O9146| 8/24/2023|            KFC|    Pizza|    Dessert|       5| 596.96|        Wallet|              1|      5/16/2025|            24|  Active|     4| 10/27/2024|        Delayed|
|      C3579|  Male|   Adult|  Karachi| 10/13/2023|   O7579| 8/24/2023|      Pizza Hut|    Pizza|Continental|       2|1443.25|          Cash|             15|      2/23/2025|           270|Inactive|     3| 10/11/2024|        Delayed|
|      C5535|  Male|   Adult|   Lahore|  7/30/2025|   O9535| 8/24/2023|         Subway| Sandwich|Continental|       2| 645.52|          Cash|             32|       4/8/2025|           133|  Active|     4|  12/5/2024|        Delayed|
|      C3894|Female|  Senior|   Multan|  1/24/2025|   O7894| 8/24/2023|    Burger King|   Burger|  Fast Food|       1| 126.53|        Wallet|             45|      9/26/2024|            48|Inactive|     2|  8/20/2025|      Cancelled|
|      C4071|  Male|  Senior|Islamabad| 12/27/2024|   O8071| 8/24/2023|         Subway|    Pizza|    Italian|       1| 465.75|          Card|             29|     12/26/2024|           394|  Active|     4|  4/16/2025|      Cancelled|
|      C4231|Female|  Senior|   Multan|  4/11/2025|   O8231| 8/24/2023|    Burger King| Sandwich|Continental|       3| 796.91|        Wallet|             39|     11/12/2024|             5|Inactive|     5|  2/27/2025|      Delivered|
|      C3914|  Male|Teenager|Islamabad| 11/29/2023|   O7914| 8/24/2023|            KFC|    Pizza|  Fast Food|       4|1140.76|        Wallet|             23|      4/22/2025|           492|Inactive|     5|  4/19/2025|        Delayed|
|      C5681| Other|   Adult|Islamabad| 11/25/2024|   O9681| 8/25/2023|         Subway|    Pizza|Continental|       1|1285.18|          Cash|             10|       4/9/2025|           196|Inactive|     2|  6/10/2025|        Delayed|
|      C4975|Female|Teenager|  Karachi|  6/20/2025|   O8975| 8/25/2023|    Burger King|   Burger|    Dessert|       1| 673.86|        Wallet|             38|       7/7/2025|           439|Inactive|     2|   7/9/2025|      Delivered|
|      C2876|Female|  Senior|Islamabad| 12/30/2024|   O6876| 8/25/2023|            KFC|   Burger|    Chinese|       2| 330.93|          Cash|             45|      7/17/2025|           455|  Active|     2| 11/28/2024|      Cancelled|
|      C6144| Other|Teenager| Peshawar|   8/5/2024|  O10144| 8/25/2023|         Subway|    Pasta|  Fast Food|       2| 991.17|        Wallet|              6|      4/22/2025|           101|  Active|     2|  3/27/2025|      Cancelled|
|      C5092|Female|   Adult|   Lahore|  10/5/2023|   O9092| 8/25/2023|         Subway|    Pasta|    Chinese|       1|1485.16|          Card|             46|      4/24/2025|           171|Inactive|     3|   8/5/2025|        Delayed|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
only showing top 20 rows

In [5]:
df = df.dropDuplicates()
df = df.dropna(subset=["Restaurant_Name", "Rating", "Price", "order_date", "customer_id"])

# Convert numeric columns
df = df.withColumn("Price", col("Price").cast("float")) \
       .withColumn("Rating", col("Rating").cast("float")) \
       .withColumn("quantity", col("quantity").cast("int")) \
       .withColumn("loyalty_points", col("loyalty_points").cast("int")) \
       .withColumn("order_frequency", col("order_frequency").cast("int"))

df.printSchema()
df.show(5)

root
 |-- customer_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- city: string (nullable = true)
 |-- signup_date: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- restaurant_name: string (nullable = true)
 |-- dish_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- Price: float (nullable = true)
 |-- payment_method: string (nullable = true)
 |-- order_frequency: integer (nullable = true)
 |-- last_order_date: string (nullable = true)
 |-- loyalty_points: integer (nullable = true)
 |-- churned: string (nullable = true)
 |-- Rating: float (nullable = true)
 |-- rating_date: string (nullable = true)
 |-- delivery_status: string (nullable = true)

+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|customer_id|gender|     age|     city|signup_date|order_id|order_date|restaurant_name|dish_name|   category|quantity|  Price|payment_method|order_frequency|last_order_date|loyalty_points| churned|Rating|rating_date|delivery_status|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
|      C4339| Other|  Senior|   Lahore| 12/29/2023|   O8339| 8/24/2023|            KFC| Sandwich|    Dessert|       1|1156.69|          Cash|             35|     12/21/2024|           418|Inactive|   3.0|   3/6/2025|      Cancelled|
|      C3239|Female|  Senior|   Lahore|  9/13/2023|   O7239| 8/31/2023|      Pizza Hut|    Fries|    Chinese|       5|1475.86|          Card|             13|      7/13/2025|            59|  Active|   4.0|   2/9/2025|      Cancelled|
|      C4849|Female|   Adult|   Multan|  7/22/2024|   O8849| 9/20/2023|            KFC|   Burger|Continental|       1|1323.97|          Card|             36|       5/1/2025|           448|Inactive|   5.0|   8/2/2025|        Delayed|
|      C6829| Other|Teenager|Islamabad|  6/11/2024|  O10829| 10/6/2023|    Burger King|   Burger|Continental|       3|1257.67|          Card|             48|      3/29/2025|           252|  Active|   1.0| 10/25/2024|      Delivered|
|      C3616|  Male|  Senior|  Karachi|  5/16/2024|   O7616| 10/6/2023|     McDonald's|    Fries|    Italian|       5|1111.88|        Wallet|              1|      11/5/2024|           202|Inactive|   5.0|  6/23/2025|        Delayed|
+-----------+------+--------+---------+-----------+--------+----------+---------------+---------+-----------+--------+-------+--------------+---------------+---------------+--------------+--------+------+-----------+---------------+
only showing top 5 rows

In [6]:
# Basic analysis

from pyspark.sql.functions import count, avg, max, min

print("Total coustomer: ", df.count())
print("Unique Customers:", df.select("Customer_id").distinct().count())

Total coustomer:  6000
Unique Customers: 6000

In [7]:


df.select(avg("Price").alias("Avg_Price"), avg("Rating").alias("Avg_Rating")).show()

+-----------------+------------------+
|        Avg_Price|        Avg_Rating|
+-----------------+------------------+
|800.5248802922566|2.9968333333333335|
+-----------------+------------------+

In [8]:
# Top 10 restaurants by total orders
df.groupBy("Restaurant_Name") \
  .agg(count("*").alias("Total_Orders")) \
  .orderBy(col("Total_Orders").desc()) \
  .show(10)

+---------------+------------+
|Restaurant_Name|Total_Orders|
+---------------+------------+
|         Subway|        1260|
|      Pizza Hut|        1224|
|            KFC|        1224|
|    Burger King|        1151|
|     McDonald's|        1141|
+---------------+------------+

In [9]:
# Average spending and rating by city
df.groupBy("city") \
  .agg(avg("Price").alias("Avg_Price"),avg("Rating").alias("Ave_Rating")) \
  .orderBy(col("Avg_Price").desc()) \
  .show(10)

+---------+-----------------+------------------+
|     city|        Avg_Price|        Ave_Rating|
+---------+-----------------+------------------+
| Peshawar|824.3610559950314| 2.993305439330544|
|   Multan| 803.346870756453| 3.004777070063694|
|Islamabad|795.0891744393507|2.9949452401010954|
|   Lahore|793.0045028159926| 2.989317995069844|
|  Karachi|786.1806289806116|  3.00174672489083|
+---------+-----------------+------------------+

In [10]:
# Top rated restaurants
df.groupBy("Restaurant_Name") \
  .agg(avg("Rating").alias("Avg_Rating"), count("*").alias("Num_Reviews")) \
  .orderBy(col("Avg_Rating").desc()) \
  .show(10)

+---------------+------------------+-----------+
|Restaurant_Name|        Avg_Rating|Num_Reviews|
+---------------+------------------+-----------+
|         Subway|3.0873015873015874|       1260|
|     McDonald's|3.0026292725679227|       1141|
|            KFC| 2.974673202614379|       1224|
|    Burger King|2.9661164205039094|       1151|
|      Pizza Hut|2.9493464052287583|       1224|
+---------------+------------------+-----------+

In [11]:
df.describe()

DataFrame[summary: string, customer_id: string, gender: string, age: string, city: string, signup_date: string, order_id: string, order_date: string, restaurant_name: string, dish_name: string, category: string, quantity: string, Price: string, payment_method: string, order_frequency: string, last_order_date: string, loyalty_points: string, churned: string, Rating: string, rating_date: string, delivery_status: string]